<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Anda sedang memesan dari rumah makan <%= food.name %></h1>
    <img src="<%= food.imageUrl %>" alt="">
</div>
<form action="/user/foods/<%= food.id %>/add" method="post">
    <label for="address">Address</label>
    <input type="text" name="address" id="address">
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity">
    <input type="submit" value="Buy">
</form>
</body>
</html>